<div *ngIf="navType == 'large'" class="menu-left">
    <div class="navbar-brand">
        <a class="logo-text" routerLink="/">
            Timo
        </a>
    </div>
    <ul class="nav">
        <li *ngFor="let navItem of navItems">
            <a class="nav-link{{ selectedRoute == navItem.route ? '-active' : '' }}" routerLink="{{ navItem.route }}">
                <fa-icon [icon]="navItem.icon"></fa-icon><br />
                <span>{{ navItem.name }}</span>
            </a>
        </li>
    </ul>
    <div *ngIf="showNavIcons" [@showHideFaIcons] class="navFooter">
        <a  *ngFor="let faIcon of faIcons" href="{{ faIcon.url }}" target="_blank">
            <fa-icon [icon]="faIcon.icon"></fa-icon>
        </a>
    </div>
</div>
<div class="mobileNav">
    <ul class="row">
        <li *ngFor="let navItem of navItems" class="{{ selectedRoute == navItem.route ? 'active' : '' }}">
            <a class="nav-link-mobile{{ selectedRoute == navItem.route ? '-active' : '' }}" routerLink="{{ navItem.route }}">
                <fa-icon [icon]="navItem.icon"></fa-icon><br />
                <span>{{ navItem.name }}</span>
            </a>
        </li>
    </ul>
</div>