<div class="main-div">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <mat-card class="portfolio-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-lg-2 d-none d-sm-block">
          <app-navbar></app-navbar>
        </div>
        <div class="col-sm-12 col-lg-10">
          <main [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
          </main>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>