<div class="main-div">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <mat-card class="portfolio-card">
    <mat-card-content>
      <div class="row">
        <div class="col-md-2 d-none d-md-block">
          <app-navbar navType="large"></app-navbar>
        </div>
        <div class="col-sm-12 col-md-10 shiftLeft">
          <main [@routeAnimations]="prepareRoute(outlet)" class="fullHeight">
            <router-outlet #outlet="outlet"></router-outlet>
          </main>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<app-navbar navType="small"></app-navbar>