@import "../../variables.scss";

.avatar {
  border: 0.3rem solid rgba(#000, 0.3);
  margin-top: -6rem;
  margin-bottom: 1rem;
  max-width: 9rem;
}

.card {
  margin: 15px;
  height: 100%;
  border-radius: 20px;
    @media screen and (min-width: $device-tablet) {
      margin: 15px 0px 15px 0px;
    }
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50%;
  width: 100%;
}

.card-body {
  height: 50%;
  background-color: #474B4F;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card fa-icon {
  display: inline-block;
    font-size: 16px;
    color: #222629;
    text-align: center;
    border: 1px solid #222629;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.card .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.card .icon-block a{
    text-decoration:none;
}
.card fa-icon:hover {
  background-color:#222629;
  color:#fff;
  text-decoration:none;
}

.fullHeight {
  // height: 100%;
    @media screen and (max-width: $device-tablet-1) {
        height: calc(100% - 30px);
    }
}